/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --menu-text-color: rgba(53, 52, 48, 1);
    --h3-section-color: rgba(0, 0, 40, 1);
    --main-link-text-color: rgba(53, 52, 48, 1);
    --link-shadow-color:rgba(255, 141, 203, 1);
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: rgba(255, 241, 247, 1);
    --accent-color: rgba(255, 141, 203, 1);
    --menu-text-color: rgba(53, 52, 48, 1);
    --h3-section-color: rgba(0, 0, 40, 1);
    --main-link-text-color: rgba(53, 52, 48, 1);
    --link-shadow-color:rgba(255, 141, 203, 1);
  }
}