.page {
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  height: 100vh;
  min-height: 668px;
  font-family: var(--font-family), monospace, sans-serif;
  position: relative;
}

.header,
.footer {
  position: relative;
  height: 100vh;
}

.header {
  display: grid;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
}

.decorated-zone::before {
  margin-block-start: 10px;
  top: 0;
  right: 10px;
  border-top: 1px solid var(--decorated-zone-color);
  border-right: 1px solid var(--decorated-zone-color);
  width: 25px;
  height: 25px;
}

.decorated-zone::after {
  margin-block-end: 10px;
  left: 10px;
  bottom: 0;
  border-bottom: 1px solid var(--decorated-zone-color);
  border-left: 1px solid var(--decorated-zone-color);
  width: 25px;
  height: 25px;
}


.light-bulb {
  display: flex;
  justify-content: right;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
}

.light-bulb.text {
  margin-block-start: 10px;
  margin-right: 19px;
  font-size: 18px;
  text-transform: uppercase;
  color: var(--accent-color);
  line-height: 25px;
  position: absolute;
}

.light-bulb p::after {
  content: "";
  display: inline-flex;
  width: 9px;
  height: 9px;
  background-color: var(--accent-color);
  border-radius: 70%;
  margin-left: 10px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  position: relative;
  margin-block-start: 8px;
}

.header__theme-menu {
  display: flex;
  justify-content: right;
  margin-block-start: 73px;
  margin-right: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}


.header__theme-menu-button {
  display: flex;
  align-content: center;
  justify-content: center;
  color: var(--menu-text-color);
  font-size: 18px;
  font-weight: normal;
  background-color: transparent;
  border: transparent;
  text-transform: lowercase;
  padding: 1.5px 13px 1.5px 13px;
}

.header__theme-menu-button.header__theme-menu-button_active,
.header__theme-menu-button:active {
  outline: 0;
  border: 1px solid var(--border-focus);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--border-hover);
}

.main__section-list.link:hover {
  outline: 0;
  border-bottom: 1px solid var(--border-hover-link);
}

.header__theme-menu-button:focus-visible {
  outline: 0;
  border-bottom: 1px solid var(--border-focus);
}

.main__section-list.link:focus-visible {
  outline: 0;
  border: 1px solid var(--border-focus-link);
}

.header_text {
  margin-block-start: 65px;
}

.title {
  color: var(--title-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: bold;
  line-height: 83%;
  margin-left: 10px;
}

.header_subtitles {
  margin: 55px 10px 0;
  font-size: 18px;
  padding-block-end: 66px;
}

.header_subtitles-text {
  background-color: var(--accent-color);
  color: var(--subtitle-color);
  font-weight: bold;
  line-height: 23.4px;
}

.main__section:first-child {
  padding-block-start: 40px;
}

.main__section {
  padding: 0 10px;
  padding-block-start: 50px;
}

.main__section-title {
  color: var(--section-title-color);
  font-weight: bold;
  font-size: 18px;
}

.main__section-list-title {
  font-weight: bold;
  margin-block-start: 20px;
  margin-block-end: 10px;
  color: var(--h3-section-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
}

.main__section-list.text {
  font-size: 18px;
  color: var(--main-section-text-color);
  line-height: 23.4px;
}

.main__section-list.link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

.main__section-list-title.subtitles {
  font-size: 18px;
  font-weight: normal;
}

.main__section-image {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 355px;
  background-repeat: no-repeat;
  width: 100%;
  margin: 0 auto;
}

.main__section:last-child {
  margin-block-end: 40px;
}

.main__section-list-title_img {
  color: var(--h3-section-color);
  background-color: var(--accent-color);
  line-height: 23.4px;
  margin-block-end: 10px;
}

.main__section-content {
  margin-block-start: 20px;
}


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.title.footer {
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (min-width: 375px) and (max-width:767px) {
  .main__section-image {
    max-width: 100%;
    flex-direction: column;
  }

  .main__section-image img {
    width: 100%;
    height: auto;
    display: block;
  }
}


@media (width >=768px) {
  .light-bulb.text {
    margin-block-start: 20px;
    margin-right: 29px;
  }

  .decorated-zone::before {
    margin-block-start: 20px;
    right: 20px;
  }

  .header__theme-menu {
    margin-block-start: 192px;
    margin-right: 20px;
  }

  .title {
    margin-left: 0;
    font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header_text {
    margin-block-start: 171px;
  }

  .header_subtitles {
    margin: 162px 20px 0 384px;
    padding-block-end: 183px;
  }

  .decorated-zone::after {
    margin-block-end: 20px;
    left: 20px;
  }

  .main__section {
    margin-block-start: 60px;
    padding: 0 20px;

  }

  .main__section:first-child {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
    padding-block-start: 0;
  }

  .main__section-list.text {
    margin-block-start: 10px;
    margin-block-end: 20px;
  }

  .main__section-list-title:first-child {
    margin: 0;
  }

  .main__section-title {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    line-height: 23.4px;
    max-width: 236px;
    width: 100%;
  }

  .main__section.section_methods {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: start;
    margin-block-start: 80px;
  }

  .main__section-list-title.methods {
    margin: 0;
  }

  .main__section-list-title_img {
    margin-block-end: 20px;
  }

  .main__section-image {
    padding: 0;
    display: grid;
    grid-column: 1 / 4;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    max-width: 768px;
  }

  .main__section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .main__section-image:last-child {
    margin: 0;
  }

  .sunset {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }

  .ice-cream {
    grid-column: 3/4;
    grid-row: 1/3;
  }

  .tape {
    grid-column: 1/2;
    grid-row: 2/4;
  }

  .books {
    grid-column: 2/3;
    grid-row: 2/3;
  }

  .street {
    grid-column: 2/4;
    grid-row: 3/4;
  }

  .main__section:last-child {
    margin-block-end: 60px;
  }

  .title.footer {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    text-align: center;
  }
}

@media (min-width: 768px) and (max-width:1023px) {
  .main__section-image {
    max-width: 100%;
    margin: 0 auto;
  }

  .main__section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

@media (min-width: 1024px) {
  .header__theme-menu {
    margin: 20px auto 0 auto;
  }

  .header__theme-menu-list {
    margin: 0;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .header_text {
    margin-block-start: 273px;
    margin-block-end: 60px;
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
    line-height: 83%;
  }

  .header_subtitles {
    margin: 114px 20px 0 513px;
    padding-block-end: 134px;
  }

  .main__section-title {
    max-width: 315px;
    width: 100%;
  }

  .main__section:last-child {
    margin-block-start: 60px;
  }

  .main__section:first-child {
    gap: 12px;
  }


  .main__section.section_methods {
    margin-block-start: 60px;
    gap: 12px;
  }

  .main__section.section_problems {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .main__section-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-block-start: 10px;
  }

  .main__section-image {
    max-width: 100%;
    margin: 0 auto;
  }

  .main__section-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

}